<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <orderimport>
            <automatic>
                <active>0</active>
                <import_type>default_csv</import_type>
            </automatic>
        </orderimport>
    </default>
</config>
