<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magesuite" translate="label" sortOrder="300">
            <label>MageSuite</label>
        </tab>
        <section id="orderimport" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>OrderImport</label>
            <tab>magesuite</tab>
            <resource>MageSuite_OrderImport::config_orderimport</resource>
            <group id="ftp" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>FTP</label>
                <field id="cron_active" translate="label" type="select" sortOrder="10" showInDefault="1" >
                    <label>Cron Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cron_schedule" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cron Schedule</label>
                    <comment>Please type full cron schedule expression, eg. '59 23 * * *'</comment>
                </field>
                <field id="host" translate="label" type="text" sortOrder="30" showInDefault="1">
                    <label>Host</label>
                </field>
                <field id="protocol" translate="label" type="text" sortOrder="40" showInDefault="1">
                    <label>Protocol</label>
                </field>
                <field id="login" translate="label" type="text" sortOrder="50" showInDefault="1">
                    <label>Login</label>
                </field>
                <field id='password' translate='label' type='password' sortOrder='60' showInDefault='1'>
                    <label>Password</label>
                </field>
                <field id="path" translate="label" type="text" sortOrder="70" showInDefault="1">
                    <label>Remote path</label>
                </field>
            </group>
            <group id="parcellab" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>ParcelLab</label>
                <field id="user_id" translate="label" type="text" sortOrder="10" showInDefault="1">
                    <label>User ID</label>
                </field>
                <field id="webhook_active" translate="label" type="select" sortOrder="20" showInDefault="1" >
                    <label>Webhook Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>